Training Code/Week 5/ConsumeConversionService/ConsumeConversionService/Connected Services/ConversionServiceReference/Conversion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Conversion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60596/Conversion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60596/Conversion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversion_ConvertUSDToINR_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertUSDToINR" />
  </wsdl:message>
  <wsdl:message name="IConversion_ConvertUSDToINR_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertUSDToINRResponse" />
  </wsdl:message>
  <wsdl:message name="IConversion_ConvertINRToUSD_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertINRToUSD" />
  </wsdl:message>
  <wsdl:message name="IConversion_ConvertINRToUSD_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertINRToUSDResponse" />
  </wsdl:message>
  <wsdl:message name="IConversion_ConvertCelciusToFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertCelciusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IConversion_ConvertCelciusToFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertCelciusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversion">
    <wsdl:operation name="ConvertUSDToINR">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversion/ConvertUSDToINR" message="tns:IConversion_ConvertUSDToINR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversion/ConvertUSDToINRResponse" message="tns:IConversion_ConvertUSDToINR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertINRToUSD">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversion/ConvertINRToUSD" message="tns:IConversion_ConvertINRToUSD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversion/ConvertINRToUSDResponse" message="tns:IConversion_ConvertINRToUSD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertCelciusToFahrenheit">
      <wsdl:input wsaw:Action="http://tempuri.org/IConversion/ConvertCelciusToFahrenheit" message="tns:IConversion_ConvertCelciusToFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConversion/ConvertCelciusToFahrenheitResponse" message="tns:IConversion_ConvertCelciusToFahrenheit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConversion" type="tns:IConversion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertUSDToINR">
      <soap:operation soapAction="http://tempuri.org/IConversion/ConvertUSDToINR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertINRToUSD">
      <soap:operation soapAction="http://tempuri.org/IConversion/ConvertINRToUSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertCelciusToFahrenheit">
      <soap:operation soapAction="http://tempuri.org/IConversion/ConvertCelciusToFahrenheit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Conversion">
    <wsdl:port name="BasicHttpBinding_IConversion" binding="tns:BasicHttpBinding_IConversion">
      <soap:address location="http://localhost:60596/Conversion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>